
html {
  font-size: 15px;
   cursor: none;
   z-index: 9999;
   margin: 0;
   padding: 0;
}

* {
  font-family: Lucida Sans;
}

#cursor {
  position: absolute; 
  z-index: 9999;
  pointer-events: none;
  font-size: 1.5rem;
}

#cursor::before {
  content: "\f245";
  color: black;
  font: var(--fa-font-solid);
  position: absolute;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  cursor: none;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 5vw;
  width: 90vw;
  height: 100vh;
  background-image: url('/images/code_graphic.png');
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

header {
  position: relative;
  z-index: 9998;
}

#navbar {
  top: 0;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #2f4858;
}

nav::before {
  content:'';
  display: block;
  position:relative;
  top: 2rem;
  right: 0rem;
  width: 0.5rem;
  height: 2rem;
  background-color: #1c1021;
  transition: all .4s ease;
}

nav::after {
  content:'';
  display: block;
  position:absolute;
  top: 4rem;
  left: 0rem;
  width: 2rem;
  height: 0.5rem;
  background-color: #1c1021;
  transition: all .4s ease;
}

nav:hover::after {
  width: 100%;
  top: 4rem;
  left: 0;
}

nav:hover::before {
  top: 0rem;
  height: 4rem;
  right: 0;
}

ul {
  line-height: 1.8;
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: none;
}

#contact-header {
  margin-right: 2rem;
}

.nav-link:hover {
  transform: scale(1.2)
}

#welcome-section {
  position: relative;
  height: 40rem;
}

#welcome-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  height: 12rem;
  border-radius: 5%;
}

#welcome-box {
  animation: slide-animation-top 3s ease-in-out;
  height: 25rem;
  width: 35rem; 
  padding: 1rem; 
  font: 1rem/150%;
  opacity: 0.98;
  position: absolute;
  background-color: #708090;
  
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%; 
}

#welcome-text {
  color: white;
  position: absolute;
  top: 30%;
  line-height: 2;
  margin: 5%;
}

#welcome-text::before,
#welcome-text::after {
  position: absolute;
  height: 3rem;
  font:
    2rem/100% Georgia,
    "Times New Roman",
    Times,
    serif;
}

#welcome-text::before {
  position: relative;
  content: "<<";
  top: 0.0rem;
  left: 0.5rem;
}

#welcome-text::after {
  position: absolute;
  content: ">>";
  top: 12rem;
  left: 30rem;
}

#projects {
  text-align: center;
  background-color: #ffeacf;
}

h2 {
  font-size: 2em; 
  color: #333; 
  text-align: center;
}

#html-container, #D3-container {
  background-color: #c8cbae;
}

#flex-container, #flex-container3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  height: 25rem;
  position: relative;
  width: 90%;
  left: 5%;
}

#flex-container2 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  height: 25rem;
  position: relative;
  width: 90%;
  left: 5%;
}

main {
  position: relative;
  line-height: 2;
  font-family: garamond serif;
  font-weight: bold;
  width: 90%;
  left: 5%;
}

.html-tile {
  background-color: #f89235;
}

.javascript-tile {
  background-color: #008065;
}

.D3-tile {
  background-color: #f26b67;
}

.html-tile, .javascript-tile, .D3-tile {
  position: relative;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: 5% 95% 5%;
  border: groove 1px;
  box-shadow: 3px 3px 3px black;
  height: 60%;
  max-width: 30%;
  flex: 1;
  text-align: center;
  animation: fly-in 1s ease-in-out;
  z-index: 1;
  align-items: center;
}

.website-link {
  color: white;
  text-decoration: none;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.website-link:hover {
  color: #4f4538;
}

.image {
  position: relative;
}


.image::before {
  position: absolute;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-size: 6rem;
  top: 0.5em;
  left: 1em;

}

footer {
  margin-top:auto;
  height: 3.5rem;
  width: 100%;
  background-color: #2f4858; 
  color: white; 
  text-align: center;
  padding: 1rem 0;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#github-e-mail-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  items-align: center;
  justify-content: center;
}

#github {
  font-size: 2em;
}
#github::before {
font-family: "Font Awesome 5 Brands";
content: "\f09b";
font-weight: 400;
display: inline-block;
}

#e-mail {
  font-size: 2em;
}
#e-mail::before {
  font-family: 'Font Awesome 6 Free';
  content: "\f0e0";
  font-weight: 900;
}

#contact {
  margin-top: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: none;
}

#contact {
  color: white;
}

#github-contact {
  color: white;
}

#contact:hover {
  color: grey;
}

#github-contact:hover {
  color: grey;
}

.image-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  overflow: hidden;
  border-radius: 50%;
}


.image {
  border-radius: 50%;
    transition: transform 0.3s ease; 
    width: 100%; 
    height: 100%;
}

.image:hover {
    transform: scale(1.1); 
}

a {
  cursor: none;
}

@keyframes slide-animation-top {
  from {
    top: 0%;
  }
  to {
    top: 50%;
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 360px) {
    
  html {
    font-size: 6px;
  }
  input, main, .nav-link {
    font-size: 1.2em; 
  }

  .nav-link:hover {
    font-size: 13px; 
  }

  #welcome-box {
    min-height: 4rem; 
    padding: 0.5rem 2rem; 
    font-size: 0.9rem; 
    width: 70%; 
    top: 60%;
    right: 40%;
  }

#welcome-image {
  width: 10rem;
  height: 10rem;
}

#welcome-section {
  position: relative;
  height: 35rem;
}

  #welcome-box::before,
  #welcome-box::after {
    font-size: 1.5rem; 
  }


  #flex-container, #flex-container3 {
    flex-direction: column; 
    gap: 1.5em;
    height: 40vh; 
    width: 100%; 
    left: 0; 
  }

  #flex-container2 {
    flex-direction: column;
    gap: 0.5em;
    height: 40vh; 
    width: 100%; 
    left: 0; 
  }

  .image-container {
    height: 70%;
    width: 30%;
  }

.html-tile, .javascript-tile, .D3-tile {
    width: 100%;
    max-width: 50%; 
    margin: 0 auto;
    font-size: 0.8rem;


  }
    .image::before {
    font-size: 4em;
    margin-top: 0.2rem;
    margin: 0 auto;
  }

  #html-container, #javascript-container, #D3-container {
    height: 50vh;
  }
  li {
    font-size: 0.9rem;
  }
}

  @media only screen and (min-width: 361px) and (max-width: 639px) {
  
    html {
      font-size: 8px;
    }
    input, main, .nav-link {
      font-size: 1.2em; 
    }
  
    .nav-link:hover {
      font-size: 13px; 
    }
  
    #welcome-box {
      min-height: 4rem; 
      padding: 0.5rem 2rem; 
      font-size: 0.9rem; 
      width: 70%; 
      top: 60%;
      right: 40%;
    }
  
  #welcome-image {
    width: 10rem;
    height: 10rem;
  }
  
  #welcome-section {
    position: relative;
    height: 35rem;
  }
  
    #welcome-box::before,
    #welcome-box::after {
      font-size: 1.5rem; 
    }
  
  
    #flex-container, #flex-container3 {
      flex-direction: column; 
      gap: 1.5em;
      height: 40vh; 
      width: 100%; 
      left: 0; 
    }
  
    #flex-container2 {
      flex-direction: column;
      gap: 0.5em;
      height: 40vh; 
      width: 100%; 
      left: 0; 
    }
  
    .image-container {
      height: 70%;
      width: 30%;
    }
  
  .html-tile, .javascript-tile, .D3-tile {
      width: 100%;
      max-width: 50%; 
      margin: 0 auto;
      font-size: 0.8rem;
  
  
    }
      .image::before {
      font-size: 4em;
      margin-top: 0.2rem;
      margin: 0 auto;
    }
  
    #html-container, #javascript-container, #D3-container {
      height: 50vh;
    }
    li {
      font-size: 0.9rem;
    }
  }
    @media only screen and (min-width: 640px) and (max-width: 990px) {
      html {
        font-size: 8px;
      }

      .image-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        overflow: hidden;
        border-radius: 50%;
      }
      body::before {
        width: 90vw;
      }
      #projects {
        width: 80vw;
        margin-left: 5vw;
      }
      #welcome-box {
        left: 55%;
      }

      footer {
        position:absolute;
        bottom:0;
      }
      
    }

    @media only screen and (min-width: 1400px) {
      html {
        font-size: 15px;
      }

      .image-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 60%;
        overflow: hidden;
        border-radius: 50%;
      }
      body::before {
        left: 20vw;
        width: 65vw;
      }
      #projects {
        width: 65vw;
        margin-left: 15vw;
      }
      #welcome-box {
        left: 55%;
      }

    }
